@import"vars";
@import"global";
@import"_fonts";

.header{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(/img/header_item.jpg);
    min-height: 533px;
}
.header__nav-bar{
    display: flex;
}
.logo{
    font-size: 40px;
    color: #2052c9;
    padding-top: 30px;
    @include f500;
    padding-right: 40%;
    &__text{
        color: #fff;
    }
}
.header__item{
    margin-right: 20px;
    &-container{
        display: flex;
    }
    &-name{
        color: $grey;
    }
    &-info{
        color: #fff;
        padding-top: 1px;
    }
}
.header__phone{
    color: #fff;
}
.header__svg{
    height: 29px;
    color: #2052c9;
}
.header__info{
    display: flex;
    padding-top: 30px;

}
.header__rectangle{
    margin-top: 70px;
    height: 70px;
    width: auto;
background-color: $blue;
}
.header__link{
    display: flex;
    &-item{
        margin-right: 70px;
        font-size: 24px;
        margin-top: 24px;
        @include f500;
    }
    &-text{
        color: #fff;
    }
    .header__link-item:first-child{
        margin-left: 5%;
    }
}
.header__description{
    padding-top: 80px;
    padding-left: 5%;
}
.header__title{
font-size: 28px;
@include f500;
width: 248px;
color: #fff;
padding-bottom: 35px;
line-height: 30px;
}
.header__subtitle{
    width: 315px;
    color: #fff;
    font-size: 22px;
    line-height: 24px;

}
